

<ol>

  <% @posts.each do |post| %>

    <li>
      <p><%= post.title %> (<%= link_to(post.link, post.link) %>)
        <% if session[:user_id] == post.user_id %>
          <%= link_to("delete", post_path(post), method: :delete, confirm: "Are you sure?") %>
          <%= link_to("edit", post_path(post), method: :get) %>
        <% end %>
      </p>

  <!-- the zero below needs to be changed -->
      <p>0 points by <%= User.find(post.user_id).username%>  | <%= link_to "comments", post_comments_path(post) %></p>
    </li>

  <% end %>
    
</ol>

