<h1>New Post</h1>
<% if @fail_message %>
  <%= @fail_message %>
<% end %>

<%=form_for @post do |f| %>
<%= f.error_messages %>
  <%= f.text_field :title, placeholder: "title"%>
  <br>
  <%= f.text_field :link, placeholder: "link" %>
  <br>
  <%= f.submit "Create Post" %>
<% end %>  

